-
    let navigationMenu = [
        ["Home", "index.html"],
        ["Why MISOCIAL", "#"],
        ["Features", "#"],
        ["Articles", "#"],
        ["Pricing", "#"],
    ]

mixin menu(navigationMenu, colorTheme="light", colorBurger="white_menu")
    .navigation.flex_between.items_center.wrapper
        .logo.flex_between.items_center
            a(href="index.html").flex.items_center
                picture 
                    img(src="assets/images/logo.svg" alt="logo.misocial")
                span(class=colorTheme) misocial  
        nav.flex_nav.flex.full_menu
            ul#popup.popup.flex_between.items_center.d-block(class=colorTheme)
                for item in navigationMenu 
                    li 
                        a.menu(href=item[1])  #{item[0]} 
                img#cancel_popup.cancel_popup(src="assets/images/remove.svg", alt="Закрити")
            p.cta_empty(class=colorTheme)
                a(href="#" class="btn") get started
            div#open_popup.open_popup(class=colorBurger)
                span.burger
                span.burger
                span.burger

-
    let cardsInfo = {
        satelite: {
            img: "assets/images/cosmo.png",
            alt: "satelite",
            personal: "personal",
            currency: "$",
            price: 0,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btnText: "select plan",
            href: "#",
        },
        machine: {
            img: "assets/images/machine.png",
            alt: "machine",
            personal: "personal",
            currency: "$",
            price: 29,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btnText: "select plan",
            href: "#",
        },
        rocket: {
            img: "assets/images/rocket.png",
            alt: "rocket",
            personal: "personal",
            currency: "$",
            price: 49,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btnText: "select plan",
            href: "#",
        },
    }

mixin card(oneCard)
    figure.card
        figcaption
            picture.flex_center 
                img(src=oneCard.img, alt=oneCard.alt)
            p.personal.text_center.grey.marketing #{oneCard.personal}
            p.price.text_center
                span.currency #{oneCard.currency}
                b.s60 #{oneCard.price}
                if oneCard.isMonth 
                    | /month
                else 
                    | /year
            ul.description.text_center
                for item in oneCard.description 
                    li.smal.grey #{item}
            a.button.btn_fixed(href=oneCard.href) #{oneCard.btnText}
