-
    let navigationMenu = [
        ["Home", "index.html"],
        ["Why MISOCIAL", "#"],
        ["Features", "#"],
        ["Articles", "#"],
        ["Pricing", "#"],
    ]

mixin menu(navigationMenu, colorTheme="light", colorBurger="white_menu")
    .navigation.flex_between.items_center.wrapper
        .logo.flex_between.items_center
            a(href="index.html").flex.items_center
                picture 
                    img(src="assets/images/logo.svg" alt="logo.misocial")
                span(class=colorTheme) misocial  
        nav.flex_nav.flex.full_menu
            ul#popup.popup.flex_between.items_center.d-block(class=colorTheme)
                for item in navigationMenu 
                    li 
                        a.menu(href=item[1])  #{item[0]} 
                a#cancel_popup.cancel_popup(href="") 
                    <svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 512"><path fill="#fff" fill-rule="nonzero" d="M74.98 74.98C124.966 24.994 190.482 0 256 0c65.518 0 131.034 24.994 181.02 74.98C487.006 124.966 512 190.483 512 256c0 65.518-24.994 131.034-74.98 181.02C387.034 487.006 321.517 512 256 512c-65.517 0-131.034-24.994-181.02-74.98C24.994 387.034 0 321.518 0 256c0-65.518 24.994-131.034 74.98-181.02zm264.132 264.129l-.002.003c-7.943 7.943-20.989 7.903-28.891.002l-54.218-54.218-52.342 52.342c-7.904 7.904-20.984 7.909-28.893 0l-.002-.003c-7.909-7.909-7.946-20.946 0-28.892l52.342-52.342-54.217-54.217c-7.901-7.901-7.906-20.987 0-28.893l.003-.002c7.906-7.906 20.947-7.946 28.892 0l54.218 54.216 52.344-52.344c7.943-7.943 20.949-7.938 28.889.003l.003.002c7.943 7.943 7.906 20.987.002 28.89l-52.344 52.345 54.219 54.218c7.943 7.943 7.938 20.95-.003 28.89zM256 34.151c-56.773 0-113.549 21.66-156.869 64.98-43.32 43.32-64.98 100.096-64.98 156.869 0 56.773 21.66 113.549 64.98 156.869 43.32 43.32 100.096 64.98 156.869 64.98 56.773 0 113.549-21.66 156.869-64.98 43.32-43.32 64.98-100.095 64.98-156.869 0-56.773-21.66-113.548-64.98-156.869-43.32-43.32-100.096-64.98-156.869-64.98z"/></svg>
            p.cta_empty(class=colorTheme)
                a(href="#" class="btn") get started
            div#open_popup.open_popup(class=colorBurger)
                span.burger
                span.burger
                span.burger

-
    let cardsInfo = {
        satelite: {
            img: "assets/images/cosmo.png",
            alt: "satelite",
            personal: "personal",
            currency: "$",
            price: 0,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btnText: "select plan",
            href: "#",
        },
        machine: {
            img: "assets/images/machine.png",
            alt: "machine",
            personal: "personal",
            currency: "$",
            price: 29,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btnText: "select plan",
            href: "#",
        },
        rocket: {
            img: "assets/images/rocket.png",
            alt: "rocket",
            personal: "personal",
            currency: "$",
            price: 49,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btnText: "select plan",
            href: "#",
        },
    }

mixin card(oneCard)
    figure.card
        figcaption
            picture.flex_center 
                img(src=oneCard.img, alt=oneCard.alt)
            p.personal.text_center.grey.marketing #{oneCard.personal}
            p.price.text_center
                span.currency #{oneCard.currency}
                b.s60 #{oneCard.price}
                if oneCard.isMonth 
                    | /month
                else 
                    | /year
            ul.description.text_center
                for item in oneCard.description 
                    li.smal.grey #{item}
            a.button.btn_fixed(href=oneCard.href) #{oneCard.btnText}
